<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>batDie3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{83,90}}</string>
        <key>offset</key>
        <string>{-0.5,-31.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,90}}</string>
        <key>sourceSize</key>
        <string>{84,153}</string>
      </dict>
      <key>batDie2.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,0},{80,82}}</string>
        <key>offset</key>
        <string>{2,-27.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,8},{80,82}}</string>
        <key>sourceSize</key>
        <string>{84,153}</string>
      </dict>
      <key>batDie4.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,0},{56,107}}</string>
        <key>offset</key>
        <string>{4,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,19},{56,107}}</string>
        <key>sourceSize</key>
        <string>{84,153}</string>
      </dict>
      <key>batDie1.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,84},{73,82}}</string>
        <key>offset</key>
        <string>{1.5,-27.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,8},{73,82}}</string>
        <key>sourceSize</key>
        <string>{84,153}</string>
      </dict>
      <key>batDie5.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,0},{27,102}}</string>
        <key>offset</key>
        <string>{5.5,24.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{34,50},{27,102}}</string>
        <key>sourceSize</key>
        <string>{84,153}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>batDie.png</string>
      <key>size</key>
      <string>{252,166}</string>
      <key>textureFileName</key>
      <string>batDie.png</string>
    </dict>
  </dict>
</plist>