<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hunterCabin5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{197,194}}</string>
        <key>offset</key>
        <string>{6,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,2},{197,194}}</string>
        <key>sourceSize</key>
        <string>{215,201}</string>
      </dict>
      <key>hunterCabin3.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,0},{197,194}}</string>
        <key>offset</key>
        <string>{1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,1},{197,194}}</string>
        <key>sourceSize</key>
        <string>{207,200}</string>
      </dict>
      <key>hunterCabin2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,196},{197,193}}</string>
        <key>offset</key>
        <string>{-3.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,3},{197,193}}</string>
        <key>sourceSize</key>
        <string>{216,201}</string>
      </dict>
      <key>hunterCabin4.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,196},{197,193}}</string>
        <key>offset</key>
        <string>{1.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,4},{197,193}}</string>
        <key>sourceSize</key>
        <string>{206,201}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hunterCabinPlist.png</string>
      <key>size</key>
      <string>{396,389}</string>
      <key>textureFileName</key>
      <string>hunterCabinPlist.png</string>
    </dict>
  </dict>
</plist>