<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bigball_dark.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{62,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,62}}</string>
        <key>sourceSize</key>
        <string>{62,62}</string>
      </dict>
      <key>bigball.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,0},{62,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,62}}</string>
        <key>sourceSize</key>
        <string>{62,62}</string>
      </dict>
      <key>lightball.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,64},{60,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,60}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>bigstar.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,64},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>middleball.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,98},{31,32}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>butterfly.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,64},{30,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{30,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>heart.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,98},{30,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{30,30}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>fire.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,126},{29,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,27}}</string>
        <key>sourceSize</key>
        <string>{29,27}</string>
      </dict>
      <key>knife.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,130},{30,25}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,3},{30,25}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>music.png</key>
      <dict>
        <key>frame</key>
        <string>{{31,132},{31,22}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,5},{31,22}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>ellipse.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,156},{31,15}}</string>
        <key>offset</key>
        <string>{-0.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,8},{31,15}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>sword.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,156},{30,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,9},{30,14}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>silence.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,132},{28,11}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,10},{28,11}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>arrow.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,157},{30,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,11},{30,10}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>circle.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,157},{16,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,8},{16,16}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>money.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,169},{16,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,8},{16,16}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>smallball.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,172},{16,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,8},{16,16}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>smallstar.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,173},{15,16}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,8},{15,16}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>scale.png</key>
      <dict>
        <key>frame</key>
        <string>{{17,173},{14,17}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,7},{14,17}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>ofuda.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,175},{16,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,9},{16,14}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>chain.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,175},{16,13}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,9},{16,13}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>needle.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,145},{16,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,11},{16,10}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>drip.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,187},{14,11}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,10},{14,11}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>bullet.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,190},{16,9}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,11},{16,9}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>blackgrain.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,190},{16,9}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,11},{16,9}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>grain.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,187},{14,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,12},{14,8}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>point.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,145},{8,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,12},{8,8}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>mildew.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,157},{8,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,12},{8,8}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>defTowerBullet.png</string>
      <key>size</key>
      <string>{126,199}</string>
      <key>textureFileName</key>
      <string>defTowerBullet.png</string>
    </dict>
  </dict>
</plist>