<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Terrain Build Material14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{143,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,81}}</string>
        <key>sourceSize</key>
        <string>{143,81}</string>
      </dict>
      <key>Terrain Build Material13.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,0},{143,74}}</string>
        <key>offset</key>
        <string>{0,3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,7},{143,74}}</string>
        <key>sourceSize</key>
        <string>{143,81}</string>
      </dict>
      <key>Terrain Build Material15.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,0},{132,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,80}}</string>
        <key>sourceSize</key>
        <string>{132,80}</string>
      </dict>
      <key>Terrain Build Material12.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,76},{126,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,80}}</string>
        <key>sourceSize</key>
        <string>{126,80}</string>
      </dict>
      <key>Terrain Build Material10.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,82},{133,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{133,70}}</string>
        <key>sourceSize</key>
        <string>{133,70}</string>
      </dict>
      <key>Terrain Build Material11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,83},{133,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{133,70}}</string>
        <key>sourceSize</key>
        <string>{133,70}</string>
      </dict>
      <key>Terrain Build Material5.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,154},{125,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,72}}</string>
        <key>sourceSize</key>
        <string>{125,72}</string>
      </dict>
      <key>Terrain Build Material2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,155},{125,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,71}}</string>
        <key>sourceSize</key>
        <string>{125,71}</string>
      </dict>
      <key>Terrain Build Material1.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,158},{125,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,71}}</string>
        <key>sourceSize</key>
        <string>{125,71}</string>
      </dict>
      <key>Terrain Build Material3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,228},{122,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,70}}</string>
        <key>sourceSize</key>
        <string>{122,70}</string>
      </dict>
      <key>Terrain Build Material8.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,228},{120,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,71}}</string>
        <key>sourceSize</key>
        <string>{120,71}</string>
      </dict>
      <key>Terrain Build Material7.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,228},{117,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,69}}</string>
        <key>sourceSize</key>
        <string>{117,69}</string>
      </dict>
      <key>Terrain Build Material6.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,231},{123,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,60}}</string>
        <key>sourceSize</key>
        <string>{123,60}</string>
      </dict>
      <key>Terrain Build Material0.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,293},{123,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,60}}</string>
        <key>sourceSize</key>
        <string>{123,60}</string>
      </dict>
      <key>Terrain Build Material4.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,299},{117,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,60}}</string>
        <key>sourceSize</key>
        <string>{117,60}</string>
      </dict>
      <key>Terrain Build Material9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,300},{111,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,60}}</string>
        <key>sourceSize</key>
        <string>{111,60}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>Terrain Build Material.png</string>
      <key>size</key>
      <string>{493,360}</string>
      <key>textureFileName</key>
      <string>Terrain Build Material.png</string>
    </dict>
  </dict>
</plist>