<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ArcherCon.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,227},{86,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,51}}</string>
                <key>sourceSize</key>
                <string>{86,51}</string>
            </dict>
            <key>BarracksCon.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,204},{86,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,42}}</string>
                <key>sourceSize</key>
                <string>{86,42}</string>
            </dict>
            <key>MageCon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,60}}</string>
                <key>sourceSize</key>
                <string>{126,60}</string>
            </dict>
            <key>TowerConLoading.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,64},{62,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,6}}</string>
                <key>sourceSize</key>
                <string>{62,6}</string>
            </dict>
            <key>TowerConLoadingBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{68,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,12}}</string>
                <key>sourceSize</key>
                <string>{68,12}</string>
            </dict>
            <key>createTowerSmoke1.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,105},{98,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,41}}</string>
                <key>sourceSize</key>
                <string>{98,41}</string>
            </dict>
            <key>createTowerSmoke2.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,104},{98,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,42}}</string>
                <key>sourceSize</key>
                <string>{98,42}</string>
            </dict>
            <key>createTowerSmoke3.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,192},{96,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,44}}</string>
                <key>sourceSize</key>
                <string>{96,44}</string>
            </dict>
            <key>createTowerSmoke4.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,148},{97,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,42}}</string>
                <key>sourceSize</key>
                <string>{97,42}</string>
            </dict>
            <key>createTowerSmoke5.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,164},{96,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,61}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>createTowerSmoke6.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,204},{90,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,75}}</string>
                <key>sourceSize</key>
                <string>{90,75}</string>
            </dict>
            <key>destoryTowerSmoke1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{113,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,103}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>destoryTowerSmoke2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{114,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,101}}</string>
                <key>sourceSize</key>
                <string>{114,101}</string>
            </dict>
            <key>destoryTowerSmoke3.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{113,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,101}}</string>
                <key>sourceSize</key>
                <string>{113,101}</string>
            </dict>
            <key>destoryTowerSmoke4.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{111,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,100}}</string>
                <key>sourceSize</key>
                <string>{111,100}</string>
            </dict>
            <key>destoryTowerSmoke5.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,105},{102,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,97}}</string>
                <key>sourceSize</key>
                <string>{102,97}</string>
            </dict>
            <key>destoryTowerSmoke6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{102,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,93}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>turrentCon.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,104},{104,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,58}}</string>
                <key>sourceSize</key>
                <string>{104,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TerrainConstruction.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0850fb8506f786cd36cc442cc89bc9c7$</string>
            <key>textureFileName</key>
            <string>TerrainConstruction.png</string>
        </dict>
    </dict>
</plist>
