<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Tower Construction Material12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{107,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,250}}</string>
        <key>sourceSize</key>
        <string>{107,250}</string>
      </dict>
      <key>Tower Construction Material13.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,0},{113,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{113,103}}</string>
        <key>sourceSize</key>
        <string>{113,103}</string>
      </dict>
      <key>Tower Construction Material14.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,0},{114,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,101}}</string>
        <key>sourceSize</key>
        <string>{114,101}</string>
      </dict>
      <key>Tower Construction Material15.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,0},{113,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{113,100}}</string>
        <key>sourceSize</key>
        <string>{113,100}</string>
      </dict>
      <key>Tower Construction Material16.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,102},{111,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,98}}</string>
        <key>sourceSize</key>
        <string>{111,98}</string>
      </dict>
      <key>Tower Construction Material11.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,105},{126,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,60}}</string>
        <key>sourceSize</key>
        <string>{126,60}</string>
      </dict>
      <key>Tower Construction Material3.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,103},{90,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,75}}</string>
        <key>sourceSize</key>
        <string>{90,75}</string>
      </dict>
      <key>Tower Construction Material2.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,102},{96,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,56}}</string>
        <key>sourceSize</key>
        <string>{96,56}</string>
      </dict>
      <key>Tower Construction Material1.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,0},{86,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,51}}</string>
        <key>sourceSize</key>
        <string>{86,51}</string>
      </dict>
      <key>Tower Construction Material0.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,167},{96,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,43}}</string>
        <key>sourceSize</key>
        <string>{96,43}</string>
      </dict>
      <key>Tower Construction Material10.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,180},{97,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,42}}</string>
        <key>sourceSize</key>
        <string>{97,42}</string>
      </dict>
      <key>Tower Construction Material9.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,202},{98,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,41}}</string>
        <key>sourceSize</key>
        <string>{98,41}</string>
      </dict>
      <key>Tower Construction Material6.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,202},{94,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,42}}</string>
        <key>sourceSize</key>
        <string>{94,42}</string>
      </dict>
      <key>Tower Construction Material5.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,224},{98,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,40}}</string>
        <key>sourceSize</key>
        <string>{98,40}</string>
      </dict>
      <key>Tower Construction Material4.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,224},{86,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,42}}</string>
        <key>sourceSize</key>
        <string>{86,42}</string>
      </dict>
      <key>Tower Construction Material7.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,245},{68,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,12}}</string>
        <key>sourceSize</key>
        <string>{68,12}</string>
      </dict>
      <key>Tower Construction Material8.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,103},{62,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,6}}</string>
        <key>sourceSize</key>
        <string>{62,6}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>Tower Construction Material.png</string>
      <key>size</key>
      <string>{509,266}</string>
      <key>textureFileName</key>
      <string>Tower Construction Material.png</string>
    </dict>
  </dict>
</plist>