<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>attackMelee4.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{248,261}}</string>
        <key>offset</key>
        <string>{-42,-9.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,10},{248,261}}</string>
        <key>sourceSize</key>
        <string>{340,300}</string>
      </dict>
      <key>attackShot3.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{302,196}}</string>
        <key>offset</key>
        <string>{34,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{83,0},{302,196}}</string>
        <key>sourceSize</key>
        <string>{400,200}</string>
      </dict>
      <key>attackShot7.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,0},{299,197}}</string>
        <key>offset</key>
        <string>{-42.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,3},{299,197}}</string>
        <key>sourceSize</key>
        <string>{400,200}</string>
      </dict>
      <key>attackShot5.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{855,0},{301,190}}</string>
        <key>offset</key>
        <string>{-43.5,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,10},{301,190}}</string>
        <key>sourceSize</key>
        <string>{400,200}</string>
      </dict>
      <key>attackShot6.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1158,0},{289,190}}</string>
        <key>offset</key>
        <string>{-37.5,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,10},{289,190}}</string>
        <key>sourceSize</key>
        <string>{400,200}</string>
      </dict>
      <key>attackShot2.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1449,0},{295,183}}</string>
        <key>offset</key>
        <string>{20.5,-4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{73,4},{295,183}}</string>
        <key>sourceSize</key>
        <string>{400,200}</string>
      </dict>
      <key>hit1.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1746,0},{251,185}}</string>
        <key>offset</key>
        <string>{1.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,8},{251,185}}</string>
        <key>sourceSize</key>
        <string>{270,200}</string>
      </dict>
      <key>attackMelee3.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1449,185},{201,221}}</string>
        <key>offset</key>
        <string>{-9.5,11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{60,51},{201,221}}</string>
        <key>sourceSize</key>
        <string>{340,300}</string>
      </dict>
      <key>Die1.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1652,187},{186,193}}</string>
        <key>offset</key>
        <string>{-18,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{39,16},{186,193}}</string>
        <key>sourceSize</key>
        <string>{300,230}</string>
      </dict>
      <key>hit2.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1840,187},{186,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{186,188}}</string>
        <key>sourceSize</key>
        <string>{190,190}</string>
      </dict>
      <key>attackShot1.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{855,192},{188,183}}</string>
        <key>offset</key>
        <string>{18,-4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{124,4},{188,183}}</string>
        <key>sourceSize</key>
        <string>{400,200}</string>
      </dict>
      <key>attackShot4.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1045,192},{188,179}}</string>
        <key>offset</key>
        <string>{39,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{145,8},{188,179}}</string>
        <key>sourceSize</key>
        <string>{400,200}</string>
      </dict>
      <key>Die2.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1235,192},{172,174}}</string>
        <key>offset</key>
        <string>{-5,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{59,35},{172,174}}</string>
        <key>sourceSize</key>
        <string>{300,230}</string>
      </dict>
      <key>attackShot8.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,198},{173,170}}</string>
        <key>offset</key>
        <string>{20.5,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{134,10},{173,170}}</string>
        <key>sourceSize</key>
        <string>{400,200}</string>
      </dict>
      <key>Die3.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,199},{173,169}}</string>
        <key>offset</key>
        <string>{4.5,9.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68,40},{173,169}}</string>
        <key>sourceSize</key>
        <string>{300,230}</string>
      </dict>
      <key>jump1.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,199},{173,168}}</string>
        <key>offset</key>
        <string>{-0.5,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,28},{173,168}}</string>
        <key>sourceSize</key>
        <string>{180,200}</string>
      </dict>
      <key>move1.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,263},{173,168}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,1},{173,168}}</string>
        <key>sourceSize</key>
        <string>{180,170}</string>
      </dict>
      <key>attackMelee1.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1235,368},{172,168}}</string>
        <key>offset</key>
        <string>{54,55}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{138,121},{172,168}}</string>
        <key>sourceSize</key>
        <string>{340,300}</string>
      </dict>
      <key>attackMelee5.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,369},{172,168}}</string>
        <key>offset</key>
        <string>{74,55}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{158,121},{172,168}}</string>
        <key>sourceSize</key>
        <string>{340,300}</string>
      </dict>
      <key>jump2.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,370},{173,165}}</string>
        <key>offset</key>
        <string>{-0.5,-7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,10},{173,165}}</string>
        <key>sourceSize</key>
        <string>{180,200}</string>
      </dict>
      <key>move3.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,370},{172,165}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{172,165}}</string>
        <key>sourceSize</key>
        <string>{180,170}</string>
      </dict>
      <key>jump3.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1045,373},{173,164}}</string>
        <key>offset</key>
        <string>{-0.5,-11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,7},{173,164}}</string>
        <key>sourceSize</key>
        <string>{180,200}</string>
      </dict>
      <key>move2.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{774,377},{172,163}}</string>
        <key>offset</key>
        <string>{0,2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,6},{172,163}}</string>
        <key>sourceSize</key>
        <string>{180,170}</string>
      </dict>
      <key>attackMelee2.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1840,377},{173,162}}</string>
        <key>offset</key>
        <string>{74.5,58}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{158,127},{173,162}}</string>
        <key>sourceSize</key>
        <string>{340,300}</string>
      </dict>
      <key>jump5.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1652,382},{173,158}}</string>
        <key>offset</key>
        <string>{-0.5,8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,29},{173,158}}</string>
        <key>sourceSize</key>
        <string>{180,200}</string>
      </dict>
      <key>Die4.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1409,408},{173,154}}</string>
        <key>offset</key>
        <string>{7.5,18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{71,56},{173,154}}</string>
        <key>sourceSize</key>
        <string>{300,230}</string>
      </dict>
      <key>Die7.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,537},{246,99}}</string>
        <key>offset</key>
        <string>{12,46.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{39,112},{246,99}}</string>
        <key>sourceSize</key>
        <string>{300,230}</string>
      </dict>
      <key>Die6.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,537},{232,97}}</string>
        <key>offset</key>
        <string>{13,50.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{47,117},{232,97}}</string>
        <key>sourceSize</key>
        <string>{300,230}</string>
      </dict>
      <key>Die5.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,539},{216,90}}</string>
        <key>offset</key>
        <string>{15,54}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{57,124},{216,90}}</string>
        <key>sourceSize</key>
        <string>{300,230}</string>
      </dict>
      <key>Die8.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{948,539},{300,50}}</string>
        <key>offset</key>
        <string>{0,58}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,148},{300,50}}</string>
        <key>sourceSize</key>
        <string>{300,230}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>ThronyMushrooms.png</string>
      <key>size</key>
      <string>{2026,636}</string>
      <key>textureFileName</key>
      <string>ThronyMushrooms.png</string>
    </dict>
  </dict>
</plist>